.thumbnail {
  width: 10.46875rem;
  height: 14.65625rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.arrow-button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.green-outlined-button {
  --p-button-outlined-primary-border-color: forestgreen;
  --p-button-outlined-primary-color: forestgreen;
}

.red-outlined-button {
  --p-button-outlined-primary-border-color: #E32636;
  --p-button-outlined-primary-color: #E32636;
}

input.outlined-input-green,
textarea.outlined-input-green,
::ng-deep p-autocomplete.outlined-input-green ul.p-autocomplete-input-multiple {
  border: 1px solid forestgreen !important;
}

::ng-deep .p-inputchips {
  width: 100% !important;
}

::ng-deep .p-autocomplete .p-chip .p-chip-label {
  font-size: 12px;
}

.metapicker {
  box-sizing: border-box;
}

.metaheader {
  border-bottom: 1px solid var(--border-color);
  padding: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.metaheader .midbuttons {
  white-space: nowrap;
}

.metacontent {
  padding: 0 1rem 1rem;
}

.metadata-status {
  &.copied {
    color: rgb(34, 197, 94);
  }

  &.no-metadata {
    color: rgb(59, 130, 246);
  }

  &.not-applied {
    color: rgb(239, 68, 68);
  }
}